header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: 100vw;

  .FBJ_logo-link {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 2rem;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;

    .FBJ_logo-picture {
      width: 180px;
      height: 180px;
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: fit-content;

    .menu {
      width: 50vw;
      display: flex;
      justify-content: space-around;
      padding: 0.5rem;
      border-radius: 0 0 0 45px;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
    }
  }
}